<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.neonlotus.android.reach"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        
        <!-- Broadcast Receiver that will process AppWidget updates -->
<receiver android:name=".Widget" android:label="@string/app_name"> <intent-filter>
<action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> </intent-filter> 
<meta-data android:name="android.appwidget.provider" android:resource="@xml/hello_widget_provider" />
</receiver>
        
        <!-- 
        <activity android:name=".ReachMain"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChallengeTab"></activity>
        <activity android:name=".FriendTab"></activity>
        <activity android:name=".SettingsTab"></activity>
        <activity android:name=".MainTab"></activity>
 -->
    </application>
    
    <!-- Permissions -->
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest> 